<div class="search">
    
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="search-title">Filtrer</div>

<div class="bar"></div>
<div class="search-description">Rechercher et filtrer la base de données.</div>
<div >
	<div class="row">
		<div class="col">  
      <span class="icon-form"> <img [src]="'assets/svg/search.svg'" alt="image"
        /></span>
			<input type="text" formControlName="searchName" class="form-control text" placeholder="Search music name" >
    </div>
    <div class="col">
      
			<input type="checkbox" formControlName="checkbox" class="form-control" >
      <span class="text-form">Return only downloadable tracks</span>
    </div>
  </div>
</div>
<button type="submit" class="btn btn-radius btn-icon-text"  >    
  <img [src]="'assets/svg/fly.svg'" alt="image" />
  <span class="btn-txt">Rechercher</span>
</button>
  </form>
</div>