<div class="login">
  <div class="left">
    <img class="stroke-icon" [src]="'assets/svg/stroke.svg'" alt="image" />
  </div>
  <div class="right">
    <div class="flex-container">
      <div class="row">
        <div class="flex-item">
          <span class="logo">
            <img [src]="'assets/logo/logo-leadersleague.png'" alt="image"
          /></span>
        </div>
        <div class="flex-item description">
          <span class="connection-description"
            >Bienvenue sur ORIGAMI ! Connectez-vous en cliquant ci-dessous à
            l’aide de votre compte interne. Pour plus de renseignement contactez
            votre administrateur.</span
          >
        </div>
        <div class="flex-item">
          <button type="button" class="btn btn-radius btn-icon-text" (click)="linkToSearch()">
        
            <img [src]="'assets/svg/fly.svg'" alt="image" />
            <span class="btn-txt">Connexion</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
